.ant-menu-dark .ant-menu-item-selected>a, 
.ant-menu-dark .ant-menu-item-selected>span>a, 
.ant-menu-dark .ant-menu-item-selected>a:hover, 
.ant-menu-dark .ant-menu-item-selected>span>a:hover{
    color:  #b32134 !important;
    /* background-color: #ffffff !important; */
    padding: 9px !important;
    border-radius: 8px;
    margin: 2px !important;


}

.ant-menu-dark .ant-menu-item:hover{
    color:  #b32134 !important;
    background-color:transparent !important;
    padding: 9px;
    border-radius: 8px;
    margin: 2px !important;


}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item>a, .ant-menu-dark .ant-menu-item>span>a {
    color: #ffffff !important;
}

.ant-menu-dark .ant-menu-item:hover>a, .ant-menu-dark .ant-menu-item-active>a, .ant-menu-dark .ant-menu-submenu-active>a, .ant-menu-dark .ant-menu-submenu-open>a, .ant-menu-dark .ant-menu-submenu-selected>a, .ant-menu-dark .ant-menu-submenu-title:hover>a, .ant-menu-dark .ant-menu-item:hover>span>a, .ant-menu-dark .ant-menu-item-active>span>a, .ant-menu-dark .ant-menu-submenu-active>span>a, .ant-menu-dark .ant-menu-submenu-open>span>a, .ant-menu-dark .ant-menu-submenu-selected>span>a, .ant-menu-dark .ant-menu-submenu-title:hover>span>a {
    color: #b32134 !important;
    /* background-color: #ffffff !important; */
    padding: 9px;
    border-radius: 8px;
    margin: 2px !important;
    margin: 2px !important;


}


.ant-menu-dark .ant-menu-item-selected {
    color: #ffffff !important;
    background-color:#b32134  !important;
    border-radius: 8px;
    padding: 9px;
    margin: 2px !important;

}

.gx-layout-sider-dark {
    background-color: #09044e !important;
    color: #038fdd;
}

.gx-layout-sider-dark .gx-layout-sider-header {
    background-color: #09044e !important ;
    
    box-shadow: none;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: #038fdd;
    background: #09044e !important;

    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(9, 4, 78);
}


/* For regular CSS */
 .th .ant-table-cell {
    background-color: #4f57b7 !important;
    color: white !important;
}

 .ant-table-thead>tr>th {
     background-color: #132468;
     color: white !important;
}
 .table-row-light .ant-table-cell-fix-left {
    padding: 0px !important;
}

 .ant-table-tbody>tr.ant-table-row:hover>td,
 .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #f2f2f2;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

 .table-row-dark .ant-table-cell-fix-left {
    padding: 0px !important;
}
.user_deleted_css {
    background: rgba(255, 0, 0, 0.040);
  }
 .table-row-dark {
    background-color: #fff;
}

 .ant-table-tbody:not(.ant-table-measure-row)>tr>td {
    padding: 6px 6px !important;
}

.ant-table-thead>tr>th {
    text-align: center !important;
    text-transform: capitalize !important;
}

 .ant-table-cell {
    text-transform: capitalize !important;
}
.ant-table-tbody > tr > td {
    height: 31px ;
    max-height: 31px;
    padding: 4px;
  }

.ant-layout-sider-collapsed {
    width: 7rem !important;
}
 
.ant-layout-sider-collapsed .ant-menu-vertical .ant-menu-item, .ant-layout-sider-collapsed .ant-menu-vertical-left .ant-menu-item, .ant-layout-sider-collapsed .ant-menu-vertical-right .ant-menu-item, .ant-layout-sider-collapsed .ant-menu-inline .ant-menu-item, .ant-layout-sider-collapsed .ant-menu-vertical .ant-menu-submenu-title, .ant-layout-sider-collapsed .ant-menu-vertical-left .ant-menu-submenu-title, .ant-layout-sider-collapsed .ant-menu-vertical-right .ant-menu-submenu-title, .ant-layout-sider-collapsed .ant-menu-inline .ant-menu-submenu-title {
    padding: 0 calc((40px - 20px) / 2) !important ;
}





.ant-form-item {
    position: relative;
}

.ant-form-item-label {
    padding: 0px 0px 0px 0px !important;
    position: absolute !important;
    z-index: 2;
    left: 3px;
    top: -18px;
    background: transparent;
}

.ant-modal-body .ant-form-item-label {
    padding: 7px 0px 0px 0px !important;
    position: absolute !important;
    z-index: 2;
    left: 3px;
    top: -8px;
    background: #ffffff;
}

/* Effect on Form Label And other label */
/* .ant-form label {
    font-size: 13px!important;
} */
.ant-form-item-label>label {
    font-weight: 400;
    /* font-size: 1rem !important; */
    font-size: 13px !important;
    height: 12px !important;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused {
    box-shadow: none !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: none !important;
}

.ant-form-horizontal .ant-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 18px !important;
}

.gx-layout-sider-scrollbar div{
    position: absolute;
    inset: 0px;
    overflow-y: auto !important;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

 

